* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

/* Estilos do BotaoBar*/
.botao {
  font-size: 20px;
}
